.friend-profile-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.friend-profile-modal-content {
    position: relative;
    background-color: var(--main-color);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    width: 25%;
    border-radius: 12px;
    text-align: center;
}

.friend-profile-modal-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.friend-profile-modal-login {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.friend-profile-modal-statistics-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.friend-profile-modal-statistic-p {
    font-size: 18px;
    color: white;
}

@media (max-width: 768px) {
    .friend-profile-modal-content {
        width: 85%;
        margin: 30% auto;
        padding: 15px;
        border-radius: 10px;
    }

    .friend-profile-modal-avatar {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .friend-profile-modal-login {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .friend-profile-modal-statistics-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 15px;
    }

    .friend-profile-modal-statistic-p {
        font-size: 16px;
    }
}