* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-color) ; /* Заменен цвет фона на темный */
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 20px;
}

.left-panel, .central-panel, .right-panel {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: white; /* Цвет текста сделан белым для лучшего контраста */
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.profile {
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid var(--border-color); /* Добавлен красный бордер для аватара */
}

.nickname {
    font-size: 18px;
    font-weight: bold;
}

.friends-list {
    margin-bottom: 20px;
}

.friends-list h3 {
    margin-bottom: 10px;
}

.friends-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: center;
}

.friends-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.friends-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin-bottom: 8px;
    background-color: var(--main-color);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 300px; /* Ширина элемента */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 65px;
}

.friends-list li:hover {
    background-color: var(--secondary-color);
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Увеличиваем отступы */
    margin-bottom: 10px; /* Пространство между элементами */
    border-radius: 10px; /* Более округленные углы */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    width: 325px; /* Увеличиваем ширину блока */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 70px; /* Увеличиваем высоту блока */
}

.invite-button {
    padding: 6px 14px; /* Чуть увеличиваем размеры кнопки */
    background-color: var(--button-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 14px; /* Увеличиваем размер шрифта на кнопке */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.invite-button:hover {
    background-color: var(--button-hover-color);
    /*border-color: var;*/
}

.friend-info {
    display: flex;
    align-items: center;
}

.friend-info .avatar {
    width: 45px; /* Уменьшенный размер аватара */
    height: 45px;
    margin-right: 10px;
}

.friend-info span {
    font-size: 16px; /* Уменьшенный размер шрифта */
    font-weight: bold;
    color: white;
}

.central-panel {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cell-color);
    border: 1px solid var(--border-color);
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cell:hover {
    background-color: var(--cell-hover-color);
    transform: scale(1.05);
}

.cell.active {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#status {
    font-size: 18px;
    margin-bottom: 20px;
}

#restartBtn {
    padding: 8px 16px; /* Уменьшите отступы, чтобы кнопка была меньше */
    font-size: 14px; /* Уменьшите размер шрифта */
    background-color: var(--button-color); /* Замените цвет фона, если нужно */
    margin-top: 10px; /* Добавьте верхний отступ для отделения от текста статуса */
}
#restartBtn:hover {
    background-color: var(--button-hover-color);
}

.right-panel {
    flex: 1;
    margin-left: 10px;
}

.statistics {
    margin-bottom: 20px; /* Добавим отступ для статистики */
}

.statistics p {
    padding: 5px 0;
    border-bottom: 1px solid var(--border-color); /* Темный цвет для разделения статистики */
    color: white;
}

.btn {
    background-color: var(--button-color);
    color: white;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
    background-color: var(--button-hover-color);
    border-color: white;
}

.friendsButton.btn {
    background-color: var(--button-color);
    padding: 10px 20px;
    margin: 10px auto 0;
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.friendsButton.btn:hover {
    background-color: var(--button-hover-color);
}

.settings-button.btn{
    background-color: var(--button-color);
    padding: 5px 10px;
    margin: 5px auto 0;
    width: 50%;
}
.settings-button.btn:hover {
    background-color: var(--button-hover-color);
}
.settings-button.btn a {
    text-decoration: none;
    color: white;
}

/* Стили для модального окна */
.invitation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Обеспечивает отображение поверх других элементов */
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitation-modal-content {
    background-color: var(--secondary-color); /* Белый фон для контента */
    padding: 20px; /* Внутренние отступы */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    max-width: 400px; /* Ограничение ширины окна */
    width: 100%; /* Окно занимает всю ширину, но не больше max-width */
    text-align: center; /* Центрирование текста */
}

.invitation-modal-content p {
    font-size: 18px;
    margin-bottom: 20px; /* Отступ между текстом и кнопками */
}

.invitation-modal-content .btn {
    padding: 10px 20px;
    margin: 10px; /* Отступ между кнопками */
    background-color: var(--button-color); /* Синий фон для кнопок */
    color: white; /* Белый цвет текста */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.invitation-modal-content .btn:hover {
    background-color: var(--button-hover-color); /* Темно-синий фон при наведении */
}

/* Стили для кнопки закрытия модального окна (если нужно добавить) */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

