* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #292325;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 20px;
}

.left-panel, .center-panel, .right-panel {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.center-panel {
    flex: 2;
    margin: 0 10px;
    text-align: center;
}

.right-panel {
    flex: 1;
    margin-left: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #292325;
    color: white;
}

.btn {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #e60000;
}

.friend-list {
    list-style-type: none;
    padding: 0;
}

.friend-list li {
    padding: 10px;
    background-color: #444;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-list li span {
    font-size: 16px;
    color: white;
}

.friend-list button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.friend-list button:hover {
    background-color: #e60000;
}

.statistics p {
    padding: 5px 0;
    border-bottom: 1px solid #666;
    color: white;
}
