/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #292325; /* Тёмный фон */
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    gap: 20px; /* Промежуток между блоками */
}

/* Левый блок (Список всех пользователей) */
.left-panel {
    flex: 4; /* 70% от ширины */
    background-color: black; /* Чёрный фон */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.left-panel h2 {
    margin-bottom: 20px;
}

.user-list {
    list-style-type: none;
}

.user-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #444; /* Тёмный фон для элементов */
    margin-bottom: 10px;
    border-radius: 5px;
}

.user-list li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.user-list li button img {
    width: 20px;
    height: 20px;
}

/* Правый блок (Список друзей) */
.right-panel {
    flex: 3; /* 30% от ширины */
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.right-panel h2 {
    margin-bottom: 20px;
}

.friend-list {
    list-style-type: none;
}

.friend-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #444;
    margin-bottom: 10px;
    border-radius: 5px;
}

.friend-list li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.friend-list li button img {
    width: 20px;
    height: 20px;
}

/* Кнопки */
.delete-button:hover img,
.add-button:hover img {
    background-color: red;
    border-radius: 50%;
}
