.scroll::-webkit-scrollbar {
    width: 8px;
}

/* Фон полосы прокрутки */
.scroll::-webkit-scrollbar-track {
    background: #333;
}

.scroll {
    overflow-y: auto;
    max-height: 550px;
}

/* Ползунок полосы прокрутки */
.scroll::-webkit-scrollbar-thumb {
    background-color: #ff0000; /* Красный цвет в стиле твоей кнопки */
    border-radius: 10px;
    border: 2px solid #333; /* Граница между ползунком и фоном */
}