.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    background: #333;
}

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 10px;
    border: 2px solid #333;
}